html{
  background-color: grey;
}
body{
  background-color: aliceblue;
  font-family: sans-serif;
  width: 75%;
  padding: 1em;
  margin: auto;
}
form {
  background-color: whitesmoke;
  border: 1px solid aquamarine;
}
label, input {
  display: inline-block;
}
label{
  width: 5%;
  padding: 2% 0;
  text-align: right;
}
input{
  width: 20%;
  padding: 1em;
  background-color: aquamarine;
  color: gray;
  margin: 0.5em;
}
button{
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}